MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=rails_api_development
MYSQL_DATABASE_TEST=rails_api_test
MYSQL_USER=rails
MYSQL_PASSWORD=password
IPSTACK_ACCESS_KEY=your_ipstack_key_here
API_ACCESS_KEY=12345678